.detail-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.back {
  background: none;
  border: none;
  color: #2b6a3b;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 16px;
}

.detail {
  display: flex;
  gap: 24px;
}

.image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.info h1 {
  font-size: 2.2rem;
  margin-bottom: 12px;
}

.big {
  font-size: 2.4rem;
  color: #2b6a3b;
  margin: 8px 0 16px;
}

.delete-btn{
  margin-top: 24px;
  padding : 12px 24px;
  background-color: #dc2626;
  color: white ;
  border:  none;
  border-radius: 8px;
  cursor:pointer;
  font-weight: 600;
}

.delete-btn:hover{
  background-color: #b91c1c;
}


/* MOBILE */
@media (max-width: 800px) {
  .detail {
    flex-direction: column;
  }

  .image img {
    width: 100%;
    height: auto;
  }
}
